<footer>
  <div class="footer-container">


    <div class="logo-area">
      <img src="images/logo.png" alt="Logo" class="footer-logo">

    </div>

    <!-- MITTE: Copyright & Impressum -->
    <div class="center-area">
      <p class="copyright">© Konstantin Fenzlein 2026</p>
      <a routerLink="/imprint" class="legal-link">Impressum</a>
    </div>

    <!-- RECHTS: Social Icons -->
    <div class="socials-area">

      <a href="https://github.com/KonstantinFenzlein" target="_blank">
        <img src="images/github.png" alt="Github">
      </a>

      <a href="mailto:deine@mail.de">
        <img src="images/email.png" alt="Email">
      </a>

      <a href="https://linkedin.com/in/DEIN-USER" target="_blank">
        <img src="images/linkedin.png" alt="LinkedIn">
      </a>

    </div>

  </div>
</footer>
