footer {
  width: 100%;
  background: linear-gradient(180deg, var(--primary-blue) 0%, #3646c0 100%); /* Leichter Verlauf nach unten */
  padding: 4rem 5%;
  color: white;
  margin-top: 0; /* kein weißer Spalt */
}

.footer-container {
  max-width: 1440px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* --- LOGO (Links) --- */
.logo-area {
  display: flex;
  align-items: center;
}

.footer-logo {
  height: 100px;
  width: auto;

  /* Mein Logo von blauweiß in weiß umkehren */
  filter: brightness(0) invert(1);
}


/* --- TEXT (Mitte) --- */
.center-area {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.copyright {
  font-family: var(--font-main);
  font-size: 1.1rem;
  margin: 0;
  font-weight: 400;
}

.legal-link {
  font-family: var(--font-main);
  font-size: 1rem;
  color: white;
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.3s;

  &:hover {
    opacity: 1;
    text-decoration: underline;
  }
}


/* --- SOCIALS (Rechts) --- */
.socials-area {
  display: flex;
  gap: 20px;

  a {
    display: flex;
    align-items: center;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1); /* Kleiner Zoom beim Hover */
    }
  }

  img {
    width: 40px;
    height: auto;

    /* Macht schwarze Icons weiß */
   filter: brightness(0) invert(1);
  }
}

/* --- MOBILE ANPASSUNG --- */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column; /* Alles untereinander */
    gap: 30px;
  }


}
