header {
  width: 100%;
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 999;

  /* Hintergrund: Links Blau, Rechts Weiß
  background: linear-gradient(110deg, var(--primary-blue) 0%, var(--primary-blue) 45%, white 45.1%, white 100%);
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);*/
}

.header-content {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 0 5%;

  /* Das hier schiebt Logo nach links und "right-side" nach rechts */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* --- LOGO --- */
.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logo-img {
  height: 50px;
  width: auto;
}

/* --- RECHTE SEITE (CONTAINER) --- */
.right-side {
  /* WICHTIG: Das sorgt dafür, dass NAV und SPRACHE nebeneinander stehen */
  display: flex;
  align-items: center; /* Vertikal mittig */
  gap: 60px; /* Abstand zwischen den Links und DE/EN */
}

/* --- NAVIGATION --- */
nav {
  /* WICHTIG: Das sorgt dafür, dass die LINKS nebeneinander stehen */
  display: flex;
  gap: 40px; /* Abstand zwischen den Wörtern */

  a {
    text-decoration: none;
    color: var(--primary-blue);
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      font-weight: 700;
    }
  }
}

/* --- SPRACHE --- */
.language-switch {
  /* WICHTIG: Das sorgt dafür, dass DE / EN nebeneinander stehen */
  display: flex;
  gap: 8px;
  font-family: var(--font-main);
  font-size: 1.1rem;
  color: var(--primary-blue);
}

.lang-option {
  color: var(--primary-blue);
  cursor: pointer;
  opacity: 0.6;

  &:hover { opacity: 1; font-weight: 700; }

  &.active {
    opacity: 1;
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
  }
}

/* Mobile Ausblendung (damit es auf Handys nicht kaputt aussieht) */
@media (max-width: 900px) {
  .right-side { display: none; }
  header { background: white; }
}
