<header [class.hidden]="isHidden">
  <div class="header-content">

    <!-- LINKS: Logo -->
    <a routerLink="/" class="logo">
      <img src="images/logo.png" alt="S Logo" class="logo-img" width="100" height="100">
      <!-- <span class="logo-text">S</span> -->
    </a>

    <!-- RECHTS: Der Container für alles andere -->
    <div class="right-side">

      <!-- 1. Die Links (nebeneinander) -->
      <nav>
        <a routerLink="/" fragment="about">About me</a>
        <a routerLink="/" fragment="skills">Skill set</a>
        <a routerLink="/" fragment="work">My work</a>
      </nav>

      <!-- 2. Die Sprache (nebeneinander) -->
      <div class="language-switch">

  <!-- DEUTSCH -->
  <span
    class="lang-option"
    [class.active]="activeLang === 'DE'"
    (click)="switchLanguage('DE')">
    DE
  </span>

  <span class="separator">/</span>

  <!-- ENGLISCH -->
  <span
    class="lang-option"
    [class.active]="activeLang === 'EN'"
    (click)="switchLanguage('EN')">
    EN
  </span>

</div>

    </div>

  </div>
</header>
