/* Globale Variablen */
:root {
  --font-main: 'Montserrat', sans-serif;
  --font-display: 'Baloo 2', cursive;
  --primary-blue: #4458dc; /* Dein Design-Blau */
  --text-color: #333;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-main); /* Standard-Schrift überall */
  color: var(--text-color);
  box-sizing: border-box;
}

/* Alle Überschriften bekommen Baloo */
h1, h2, h3, h4, h5 {
  font-family: var(--font-display);
  font-weight: 700;
  margin: 0;
}
